<% if flash[:info] %>
    <article style="background-color: #1b5e20; color: #fff">
        <%= flash[:info] %>
    </article>
<% end %>

<% if flash[:error] %>
    <article style="background-color: #D93526; color: #fff">
        <%= flash[:error] %>
    </article>
<% end %>

<hgroup>
    <h1>Set up your Daily Drive</h1>
    <p><%=session['user_email']%></p>
</hgroup>
<hr />
<form method="post" target="/setup">
    <section>
        <h5>Which tracks would you like to listen?</h5>
        <details class="dropdown" style="max-height: 100px">
            <summary>
                Select an option
            </summary>
            <ul>
                <small style="padding: 15px">Your Playlists</small>
                <% @playlists.each do |playlist| %>
                    <li>
                        <label>
                            <input type="radio" name="playlist" value="<%= playlist['id'] %>" <%= if @selected_playlists.include?(playlist['id']) then checked="checked" end  %> />
                            <%= playlist['name'] %>
                        </label>
                    </li>
                <% end %>
            </ul>
        </details>
    </section>
    <section>
        <hgroup>
            <h5>From which shows would you like the latest episodes to be included?</h5>
            <small>Please note that if the episode has already been listened, it will be skipped.</small>
        </hgroup>
        <details class="dropdown" style="max-height: 100px">
            <summary>
                Select one or more options
            </summary>
            <ul>
                <% @shows.each do |show| %>
                    <li>
                        <label>
                            <input type="checkbox" name="shows[]" value="<%= show['show']['id'] %>" <%= if @selected_shows.include?(show['show']['id']) then checked="checked" end %> />
                            <%= show['show']['name'] %>
                        </label>
                    </li>
                <% end %>
            </ul>
        </details>
    </section>

     <section>
        <h5>After how many tracks would you like to listen to a show's episode?</h5>
        <input type="number" value="<%= @split.value %>" name="split">
    </section>

    <section>
        <h5>At which time (UTC) do you want the playlist to be generated everyday?</h5>
        <input type="time" name="time" value="<%= @time_to_generate.value %>">
    </section>

    <input
        type="submit"
        value="Save changes"
    />
</form>